<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy_w0IQnreWFsvF6uSdANTd3h2JLC1tUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>694710093667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singh.vigovault</string>
	<key>PROJECT_ID</key>
	<string>fitness-snack-lock</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-snack-lock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694710093667:ios:ce1647a5a13a83c863f556</string>
</dict>
</plist>